.project-card {
	max-width: 370px;
	display: flex;
	flex-flow: column nowrap;
	box-shadow: var(--accent) 0px 0px 22px -15px;
	position: relative;
    transform: translateY(0);
    transition: transform 1s;
}

.project-card::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    height: 0px;
    width: 90%;
    box-shadow: var(--accent) 0px -27px 22px 22px;
    border-radius: 50%;
    background: transparent;
    transform: translate(-50%, 0);
    transition: transform 1s;
    opacity: 0.4;
}

.project-card:hover {
    transform: translateY(-1rem);
    transition: transform 1s;
}

.project-card:hover::after {
    transform: translate(-50%, 1rem) scale(0.75);
    transition: transform 1s;
}

.project-card__content {
	height: 100%;
	position: relative;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	border: 0.5px solid var(--border);
	border-radius: 10px;
	background-color: var(--project-card-bg);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	text-align: left;
	z-index: 50;
}

.project-card__year {
	position: absolute;
	top: 1rem;
	right: 1rem;
	border-radius: 1rem;
    border: 1px solid var(--border);
}

.project-card__year span {
	padding: 0.25rem 0.5rem;
	font-size: 12px;
	line-height: 1.9;
}

.project-card__about {
	min-height: 85px;
}

.project__title {
	padding-bottom: 0.5rem ;
	font-size: 1.5rem;
	line-height: 1.3;
	color: var(--project-card-text);
}

.project-card__tech-stack {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.tech-stack__list {
	display: flex;
	gap: 0.75rem;
}

.tech-stack__title,
.project-card .button-section__link {
	text-transform: uppercase;
	color: var(--gray-text);
}

.tech__icon  {
	height: 1.5rem;
}

.project-card__button-section {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.project-card__button-section::before {
	content: '';
	height: 1px;
	width: 100%;
	background: linear-gradient(to right, transparent 10%, var(--gray-text) 30%, transparent 90%);
}