.project-card {
	max-width: 370px;
	display: flex;
	flex-flow: column nowrap;
	border: 0.5px solid var(--border);
	border-radius: 10px;
	overflow: hidden;
	background-color: var(--project-card-bg);
}

.project-card__content {
	height: 270px;
	max-width: 310px;
}

.img__project {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}

.project__title {
	padding: 10px 15px 15px;
	font-size: 1.5rem;
	line-height: 1.3;
	color: var(--project-card-text);
}