@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
	--black: #171718;
	--totalblack: #000;
	--black-border: #26292d;
	--white: #fff;
	--orange: #d28e04;

	--dark-bg: var(--black);
	--accent: var(--orange);

	/* Light mode */

	--page-bg: linear-gradient(to right, #ffffff, #bab5ab);
	--border: var(--black-border);
	--text-color: var(--black);
	--title-1: var(--accent);
	--project-card-bg: var(--white);
	--project-card-text: var(--black);
}

.dark {
	/* Dark mode */

	--page-bg: linear-gradient(to bottom, #5c5c5ca0 0%, #565656ae 40%, #1C1C1C 150%);
	--text-color: var(--white);
	--title-1: var(--white);
	--border: var(--white);
	--project-card-bg: var(--black);
	--project-card-text: var(--white);
}

html, body {
	font-family: "Yeseva One", serif;
	font-size: 16px;
	color: var(--text-color);
	background: var(--page-bg);
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* General */

.section {
	margin: 30px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding: 0 15px;
}

.none {
	display: none !important;
}

.title-1 {
	font-size: 3rem;
	color: var(--title-1);
	text-align: center;
}

.title-2 {
	font-size: 2rem;
	line-height: 1.3;
	color: var(--text-color);
}

/* Button */

.btn {
	width: 33%;
	display: inline-block;
	padding: 0.8em 1em;
	border-radius: 5px;
	background-color: var(--accent);
	color: var(--white);
	font-family: "Poiret One", sans-serif;
	line-height: 1.5;
	font-size: 1rem;
	transition: opacity 0.2s ease-in, transform 0.4s cubic-bezier(0.52, 0, 0.27, 2);
}

.btn:hover {
	opacity: 0.8;
	transform: scale(110%);
	color: var(--white);
	background-color: var(--black);
	cursor: pointer;
}

.btn img {
	margin-left: 0.8em;
	height: 1.5em;
}

.btn:active {
	position: relative;
	top: 1px;
}

/* Button outline */

.btn-outline {
	height: 48px;
	padding: 12px 20px;
	display: flex;
	align-items: center;
	gap: 10px;
	border-radius: 5px;
	border: 0.5px solid var(--border);
	background-color: var(--white);
	color: var(--totalblack);
	font-family: "Poiret One", sans-serif;
	font-size: 1rem;
	transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
	opacity: 0.8;
}

.btn-outline:active {
	position: relative;
	top: 1px;
}

/* Projects */

.projects {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}

/* Project details */

.project-details {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 30px;
}

.project-details__cover {
	max-width: 100%;
	border-radius: 10px;
	border: 0.5px solid var(--border);
}

.project-details__desc {
	font-family: "Poiret One", sans-serif;
	font-size: 1em;
}

.project-details__skills {
	font-size: 1em;
	line-height: 1.3;
}

/* Contacts */

.contacts-list {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 40px;
}

.contacts-list a {
	color: var(--accent);
}

.contacts-list__item {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
	font-size: 1em;
}

.contacts-list__item p {
	font-family: "Poiret One", sans-serif;
}

.contacts-list__item p + p {
	margin-top: 0.5em;
}

@media (max-width: 620px) {

	/* Header */

	.header .header__wrapper {
		padding: 30px;
		gap: 30px;
	}

	.header__title strong {
		font-size: 3rem;
	}

	/* Nav */

	.nav-row {
		gap: 20px;
	}

	/* General */

	.section {
		padding: 30px 0;
	}

	.container {
		gap: 40px;
	}

	.title-1 {
		font-size: 40px;
	}

	.title-2 {
		font-size: 30px;
	}

	/* Projects */

	.project .project__title {
		font-size: 20px;
	}

	/* Project page */

	.project-details__desc {
		font-size: 20px;
	}

	/* Content list */

	.content-list {
		row-gap: 20px;
	}

	/* Footer */

	.footer {
		padding: 40px 0 30px;
	}

	.footer__wrapper {
		row-gap: 20px;
	}

	/* Social */

	.social__item {
		width: 22px;
	}
}