@import "./reset.css";
@import "./button.css";
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Satoshi Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Regular'), url(/src/fonts/Satoshi-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Satoshi Light';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Light'), url(/src/fonts/Satoshi-Light.woff) format('woff');
}

@font-face {
    font-family: 'Satoshi Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Bold'), url(/src/fonts/Satoshi-Bold.woff) format('woff');
}

:root {
	--black: #171718;
	--total-black: #000;
	--black-border: #26292d;
	--white: #fff;
	--dark-red: #972626f1;
	--dark-bg: var(--black);
	--accent: var(--dark-red);

	/* Light mode */

	--page-bg: linear-gradient(to right, #ffffff, #bab5ab);
	--border: var(--black-border);
	--text-color: var(--black);
	--title-1: var(--accent);
	--project-card-bg: var(--white);
	--project-card-text: var(--black);
		--btn-gradient: linear-gradient(
		120deg,
		hsla(0, 0%, 100%, .5),
		#972626f1,	
		#806c6cf1,
		#944e4ef1, 
		hsla(0, 0%, 100%, 0.302));
	--btn-text-color: var(--accent);
}

.dark {
	--page-bg: linear-gradient(to bottom, #111111 0%, #1d1313f1 40%, #1C1C1C 150%);
	--text-color: var(--white);
	--title-1: var(--white);
	--border: var(--white);
	--project-card-bg: var(--black);
	--project-card-text: var(--white);
	--btn-gradient: linear-gradient(
		120deg,
		hsla(0, 0%, 100%, .5), 
		hsla(0, 0%, 100%, .1), 
		#fff, 
		hsla(0, 0%, 100%, .3));
	--btn-text-color: var(--white);
}

html, body {
	font-family: 'Satoshi Regular', sans-serif;
	font-size: 16px;
	color: var(--text-color);
	background: var(--page-bg);
}

.App {
	position: relative;
	overflow: hidden;
}

#background__noisy {
    pointer-events: none;
    background-blend-mode: normal;
    background-image: url('/src/img/background_noisy.webp');
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
	opacity: 0.8;
}

.gradient-experience__1 {
    will-change: transform;
    background-image: linear-gradient(180deg,#383838,#972626f1);
	position: absolute;
    z-index: 0;
    bottom: 0;
    height: 500px;
    width: 900px;
    filter: blur(11.5rem);
    opacity: 0.9;
    border-radius: 900px;
}

/* General */

main.section {
	height: 100vh;
}

.section {
	margin: 30px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding: 0 15px;
}

.none {
	display: none !important;
}

.title-1 {
    color: #494646;
    font-family: 'Satoshi Bold', sans-serif;
    font-size: 23px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}

.title-2 {
    color: #494646;
    font-family: 'Satoshi Light', sans-serif;
    font-size: 18px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}

@media (max-width: 620px) {

	/* Header */

	.header .main__wrapper {
		padding: 30px;
		gap: 30px;
	}

	.header__title strong {
		font-size: 3rem;
	}

	/* Nav */

	.nav-row {
		gap: 20px;
	}

	/* General */

	.section {
		padding: 30px 0;
	}

	.container {
		gap: 40px;
	}

	.title-1 {
		font-size: 40px;
	}

	.title-2 {
		font-size: 30px;
	}

	/* Content list */

	.content-list {
		row-gap: 20px;
	}

	/* Footer */

	.footer {
		padding: 40px 0 30px;
	}

	.footer__wrapper {
		row-gap: 20px;
	}

	/* Social */

	.social__item {
		width: 22px;
	}
}