@import "./reset.css";
@import "./button.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Satoshi Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Regular'), url(/src/fonts/Satoshi-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Satoshi Light';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Light'), url(/src/fonts/Satoshi-Light.woff) format('woff');
}

@font-face {
    font-family: 'Satoshi Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Bold'), url(/src/fonts/Satoshi-Bold.woff) format('woff');
}

:root {
	--black: #171718;
	--total-black: #000;
	--gray: #9b9b9b;
	--dark-gray: #494646;
	--white: #fff;
	--dark-red: #972626f1;
	--black-border: #26292d;
	--light-border: var(--gray);
	--gray-text: var(--gray);
	--dark-bg: var(--black);
	--accent: var(--dark-red);
	--marquee-bg: #333333b0;
	--btn-bg: #ffffff1c;

	/* Light mode */

	--page-bg: linear-gradient(to right, #ffffff, #bab5ab);
	--border: var(--black-border);
	--text-color: var(--black);
	--gray-text: var(--dark-gray);
	--title-1: var(--accent);
	--project-card-bg: #00000010;
	--project-card-text: var(--black);
	--btn-gradient: linear-gradient(
		120deg,
		hsla(0, 0%, 100%, .5),
		#972626f1,	
		#806c6cf1,
		#944e4ef1, 
		hsla(0, 0%, 100%, 0.302));
	--btn-text-color: var(--accent);
	--gradient-background: linear-gradient(210deg, #b5b5b5, #b93737f1);
}

.dark {
	--page-bg: linear-gradient(to bottom, #111111 0%, #1d1313f1 40%, #1C1C1C 150%);
	--text-color: var(--white);
	--gray-text: var(--gray);
	--title-1: var(--white);
	--border: var(--light-border);
	--project-card-bg: #ffffff10;
	--project-card-text: var(--white);
	--btn-gradient: linear-gradient(
		120deg,
		hsla(0, 0%, 100%, .5), 
		hsla(0, 0%, 100%, .1), 
		#fff, 
		hsla(0, 0%, 100%, .3));
	--btn-text-color: var(--white);
	--gradient-background: linear-gradient(180deg,#383838,#972626f1);
}

html, body {
	font-family: 'Satoshi Regular', sans-serif;
	font-size: 16px;
	color: var(--text-color);
	background: var(--page-bg);
}

.App {
	position: relative;
	overflow: hidden;
}

#background__noisy {
    pointer-events: none;
    background-blend-mode: normal;
    background-image: url('/src/img/background_noisy.webp');
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
	opacity: 0.8;
}

.gradient-default {
    will-change: transform;
    background-image: var(--gradient-background);
	position: absolute;
    z-index: 0;
}

.gradient-main {
    bottom: 0;
    height: 500px;
    width: 900px;
    filter: blur(11.5rem);
    opacity: 0.9;
    border-radius: 900px;
}

/* General */

main.section,
section.section {
	height: 100%;
}

.section {
    margin: 0 4vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 14vh 0 8vh;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding: 0 15px;
}

.none {
	display: none !important;
}

.title-1 {
    color: var(--gray-text);
    font-family: 'Satoshi Bold', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}

.title-2 {
    color: var(--gray-text);
    font-family: 'Satoshi Light', sans-serif;
    font-size: 18px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}

@media (max-width: 900px) {
	.section {
		margin-bottom: 4rem;
	}
}

@media (max-width: 620px) {
	.gradient-experience__1 {
		will-change: transform;
		background-image: linear-gradient(180deg,#383838,#972626f1);
		position: absolute;
		z-index: 0;
		bottom: -170px;
		height: 700px;
		width: 900px;
		filter: blur(7.5rem);
		opacity: 1;
		border-radius: 500px;
		left: -100px;
	}

	.section {
		padding: 30px 0;
		margin: 2vw 0;
	}

	.container {
		gap: 40px;
	}

	.title-2 {
		font-size: 1.5rem;
	}
}

@media (max-width: 430px) {
	.title-2 {
		font-size: 1rem;
	}

	.container {
		gap: 24px;
	}
}