.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 1rem;
	gap: 0.5rem;
	background-color: var(--btn-bg);
	color: var(--btn-text-color);
	font-size: 1rem;
	overflow: hidden;
	transition: opacity 0.2s ease-in, transform 0.4s cubic-bezier(0.52, 0, 0.27, 2);
	touch-action: manipulation;
	user-select: none;
	-webkit-user-select: none;
}

.btn-github {
	border-radius: 1.5rem;
	width: fit-content;
}

.btn-github::before {
	content: "";
	position: absolute;
	inset: 0;
	padding: 1px;
	border-radius: inherit;
	background: var(--btn-gradient);
	background-size: 300% 300%;
	animation: gradientBorder 12s linear infinite;
	mask-composite: exclude;
	pointer-events: none;
	-webkit-mask:
		linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
}

@keyframes gradientBorder {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 300% 50%;
	}
}


.btn img {
	height: 1.5em;
}

.btn:active {
	position: relative;
	top: 1px;
}