.marquee {
	width: 100vw;
	overflow: hidden;
	/* background: var(--marquee-bg); */
	background: linear-gradient(to right, transparent 10%, var(--marquee-bg) 30%, transparent 90%);
	color: var(--white);
	padding: 1rem 0;
	transform: rotate(5deg);
}

.marquee__track {
	display: flex;
	width: max-content;
	animation: marquee var(--marquee-duration) linear infinite;
	will-change: transform;
}

.marquee__item {
	white-space: nowrap;
	font-size: 2rem;
	padding-right: 0.8rem;
	flex-shrink: 0;
	color: transparent;
	 background: radial-gradient(
        ellipse at 20% 30%,
        rgba(138, 43, 226, 0) 60%
      ),
      radial-gradient(
        ellipse at 80% 50%,
        rgba(0, 191, 255, 0.7) 0%,
        rgba(0, 191, 255, 0) 70%
      ),
      radial-gradient(
        ellipse at 50% 80%,
        rgba(50, 205, 50, 0.6) 0%,
        rgba(50, 205, 50, 0) 65%
      ),
      linear-gradient(135deg, #ffffffb3 0%, #0a0520 100%);
	background-size: 200% 200%;
	animation: textGradient 6s linear infinite;

	-webkit-background-clip: text;
	background-clip: text;
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-1 * var(--marquee-distance)));
	}
}

@media (max-width: 620px) {
	.marquee__item  {
		font-size: 1.5rem;
	}
}

@media (max-width: 430px) {
	.marquee__item  {
		font-size: 1rem;
	}
}

