.project-details {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 30px;
}

.project-details__cover {
	max-width: 100%;
	border-radius: 10px;
	border: 0.5px solid var(--border);
}

.project-details__desc {
	font-family: "Poiret One", sans-serif;
	font-size: 1em;
}

.project-details__skills {
	font-size: 1em;
	line-height: 1.3;
}

@media (max-width: 620px) {
	.project-details__desc {
		font-size: 20px;
	}
}
