.main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text-color);
	text-align: center;
}

.main__wrapper {
	padding: 8vh 10vh;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	justify-content: space-between;
	gap: 50px;
}

.main__wrapper .social {
	margin-top: 1rem;
}

.section__greetings {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
}

.header__title {
	text-align: left;
	font-size: 4.5rem;
	color: var(--text-color);
}

.header__title em {
	font-style: normal;
	color: var(--accent);
}

.section-skills {
	border-radius: 10px;
	padding: 15px;
}

.skills-list {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 40px;
}

.skills-list__item {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
	font-size: 1em;
}

.skills-list__item p {
	font-family: "Poiret One", sans-serif;
	color: var(--text-color);
}

.skills-list__item p + p {
	margin-top: 0.5em;
}

/* Project cards */

.projects-preview__list {
	position: relative;
	display: flex;
	align-items: flex-start;
	height: 420px;
}

.projects-preview__item {
	transition: transform 0.4s ease;
}

.projects-preview__item--0 {
	transform: translate(50px, 60px) scale(1.1);
	z-index: 2;
}

.projects-preview__item--1 {
	transform: translate(-100px, 0);
	z-index: 1;
}

.projects-preview__item:hover {
	transform: rotate(4deg);;
}

.projects-preview__item .project-card {
	max-width: 310px;
}

@media (max-width: 1024px) {
	.main {
		height: auto;
	}

	.main__wrapper {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.header__title {
		text-align: center;
	}

	.section__greetings {
		padding: 5rem 0;
		align-items: center;
	}
}