.nav {
	position: absolute;
	width: 100%;
	padding: 1em 4vw;
	color: #494646;
	letter-spacing: normal;
	font-family: 'Satoshi Bold', sans-serif;
}

.nav__container {
	max-width: 100vw;
}

.nav-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
	column-gap: 40px;
	font-size: 1em;
}

.nav-list__link {
	color: var(--white);
	transition: opacity 0.2s ease-in, font-size 0.3s ease-out;
}

.nav-list__link:hover {
	opacity: 0.8;
	font-size: 1.2rem;
	background-color: var(--accent);
}

.nav-list__link--active {
	position: relative;
}

.nav-list__link--active::before {
	content: '';
	width: 100%;
	height: 2px;
	left: 0;
	position: absolute;
	top: 100%;
	display: block;
	background-color: var(--accent);
}

.nav-list__link:visited {
	color: inherit;
}