.nav {
    position: fixed;
    width: 100%;
    padding: 1em 4vw;
    color: var(--text-color);
    letter-spacing: normal;
    font-family: 'Satoshi Bold', sans-serif;
    backdrop-filter: blur(10px);
    z-index: 150;
}

.nav__container {
	max-width: 100vw;
}

.nav-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
	column-gap: 40px;
	font-size: 1em;
}

.nav__logo {
	width: 75px;
}

.nav-list__link {
	color: var(--white);
	transition: opacity 0.2s ease-in, font-size 0.3s ease-out;
}

.nav-list__link:hover {
	opacity: 0.8;
	font-size: 1.2rem;
	background-color: var(--accent);
}

@media (max-width: 620px) {
	.nav-list__item:not(:first-child) {
		display: none;
	}

	.nav-row {
		row-gap: 10px;
	}

	.nav-list {
		column-gap: 20px;
	}
}