.footer {
	position: absolute;
    width: 100%;
    bottom: 0;
	padding: 1em 0 1em;
	color: var(--text-color);
}

.container {
	padding: 0;
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1em;
}

.social {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.social__item {
	cursor: pointer;
	transition: opacity 0.2s, transform 0.35s cubic-bezier(0.52, 0, 0.27, 2);
}

.social__item:hover {
	opacity: 0.8;
	transform: scale(1.3);
}

.social__item img {
	width: 25px;
}

.copyright {
	font-family: "Poiret One", sans-serif;
	font-size: 0.5em;
}

.copyright p + p {
	margin-top: 0.5em;
}