.footer {
    position: relative;
    width: 100%;
	padding: 1em 0 1em;
    bottom: 0;
	color: var(--gray-text-color);
	backdrop-filter: blur(10px);
    z-index: 150;
}

.footer .container {
	padding: 0 4vw;
	width: 100%;
}

.footer__wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	row-gap: 1em;
}

.footer .social {
	opacity: 0.7;
}

.footer .btn-social {
	border: none;
	padding: 0;
}

.footer .btn img {
	height: 2rem;
}

.copyright {
	position: relative;
	font-family: 'Satoshi Light', sans-serif;
}

.footer .social .btn {
	background-color: transparent;
}

@media (max-width: 620px) {
	.footer__wrapper {
		row-gap: 20px;
	}
}

@media (max-width: 430px) {
	.footer {
		padding: 1rem;
	}

	.footer .container {
		padding: 0;
	}
}