.section {
	position: relative;
}

.contacts-list {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 40px;
}

.contacts-list a {
	font-family: 'Satoshi Regular', sans-serif;
    color: white;
    font-size: 32px;
}

.contacts-list__item {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
	font-size: 1em;
}

.contacts-list__item p {
	font-family: 'Satoshi Regular', sans-serif;
    color: white;
    font-size: 32px;
}

.contacts-list__item p + p {
	margin-top: 0.5em;
}