.section {
	position: relative;
}

.contacts-list {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 40px;
}

.contacts-list a {
	font-family: 'Satoshi Regular', sans-serif;
    color: white;
    font-size: 2rem;
}

.contacts-list__item {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
	font-size: 1em;
}

.contacts-list__item p {
	font-family: 'Satoshi Regular', sans-serif;
    color: var(--white);
    font-size: 2rem;
}

.contacts-list__item p + p {
	margin-top: 0.5em;
}

@media (max-width: 900px) {
	.contacts-list a,
	.contacts-list__item p {
		font-size: 1.5rem;
	}
}

@media (max-width: 430px) {
	.contacts-list a,
	.contacts-list__item p {
		font-size: 1rem;
	}
}